{{#each comments}}
    <div class="balloon-header">
        <div class="name">{{name}}</div>
        <div class="place">{{place}}</div>
        <div class="date">{{date}}</div>
    </div>
    <div class="balloon-body">{{text}}</div>
{{/each}}